/* Pantalla desktop */
@font-face {
    font-family: 'pokemon-solid';
    src: url('../font/pokemonsolid.ttf') format('truetype')
}

*{
    margin: 0px;
}
a:link, a:visited, a:active {
    text-decoration:none;
    -webkit-text-fill-color: #FFCB05;
}
body{
    background: url("../img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    
    font-family: 'pokemon-solid';
    font-style: normal;
    font-weight: normal;

}
header{
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    margin-bottom: -15px;
}
#logo2{
    width: 180px;
    height: auto;
    filter: drop-shadow(0px 4px 4px black);

}
#search{
    width: 240px;
    height: 47px;
    filter: drop-shadow(0px 4px 4px black);
    margin-top: 50px;
    margin-right: 80px;
}
#search1{
    width: 228px;
    height: 32px;
    filter: drop-shadow(0px 4px 4px black);
    background: rgba(219, 224, 238, 0.7);
    border: 1px solid #151313;
    box-sizing: border-box;
    border-radius: 10px;
    
    font-family: 'pokemon-solid';
    font-size: medium;
    color: #FFCB05;
    letter-spacing: 2.5pt;
 
}
::-webkit-input-placeholder { 
    color: red;
    text-shadow: 2px 2px 3px black;
} 
#lupa{
    position: absolute;
    width: 32px;
    height: 25px;
    top: 10px;
    right: 20px;
}
.pokeball{
    flex-direction: row-reverse;
    display: flex;
    justify-content: flex-start
}
.pokeball1{
    width: 40px;
    margin-right: 120px;
}
.nav{
    max-width: 1000px;
    margin: auto;
    padding: 40px 0px;
    margin-top: -100px;
    text-align: center;
 }
 .menubox{
    width: 100px;
    margin: auto;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-content: space-between;

 }
 .selectMenu{
    background: #31A9CE;
    border: 3px solid #F5ED02;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
 }
 .titleMenu{
    text-align: center;
    font-size: smaller;
    -webkit-text-fill-color: #FFCB05;
    letter-spacing: 2.5pt;
    text-shadow: 2px 2px 3px black;
 }
 .option{
    background: #31A9CE;
    border: 3px solid #F5ED02;
    box-sizing: border-box;
    border-radius: 20px;
    max-height: 114px;
    z-index: 100;
    width: 119px;

    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    overflow: auto;
    
 }
 .option.active{
     display: block;
     background: #31A9CE;
     border: 3px solid #F5ED02;
     box-sizing: border-box;
     border-radius: 20px;
     max-height: 500px;
     z-index: 100;
     width: 100%;
 
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: absolute;
     top: 40px;
 }
 .op{
    text-align: center;
    font-size: smaller;
    letter-spacing: 2.5pt;
    text-shadow: 2px 2px 3px black;
    border-bottom: 2px solid #F5ED02;

 }
 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    font-family: 'pokemon-solid';
    font-style: normal;
    font-weight: normal;
    font-size: x-small;
    text-align: center;
    color: white;
    letter-spacing: 2.5pt;
    text-shadow: 1px 1px 2px black;
}
#content{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 40px;
}
.pokelist{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    text-transform: capitalize;
    font-size: smaller;
    align-self: flex-end;
    margin: 30px;
    background: rgba(60, 59, 43, 0.6);
    border-radius: 20px;
}
.pokeimg{
    width: 75px;
    vertical-align: bottom;
    margin: 5px;
}
.namepoke{
    text-align: center;
    text-rendering: optimizespeed;
    width: 85px;
    position: absolute;
    margin: 5px;
    line-height: 20px;
}
#mostrar{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 40px;
}
