/* Pantalla desktop */
@font-face {
    font-family: 'pokemon-solid';
    src: url('/src/font/pokemonsolid.ttf') format('truetype')
}
*{
    margin: 0px;
}
a:link, a:visited, a:active {
    text-decoration:none;
    -webkit-text-fill-color: #FFCB05;
    -webkit-text-stroke: 1px#2E91BE;
}
body{
    background: url("/src/img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
}
header{
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    margin-bottom: -15px;
}
#logo2{
    width: 15%;
    height: auto;
    filter: drop-shadow(0px 4px 4px black);

}
.nav{
    display: flex;
    justify-content: center; 
    flex-flow: row wrap;
    
    
}
.Btnmenu1{
    display: flex;
    align-content: center;
    flex-flow: wrap;
    flex-direction: column;
    background: #31A9CE;
    border: 3px solid #F5ED02;
    box-sizing: border-box;
    border-radius: 20px;
    width: 13%;
    height: auto;
    font-family: Pokemon Solid;
    text-align-last: center;
    align-items: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 35px;
    -webkit-text-fill-color: #FFCB05;
    -webkit-text-stroke: 1px#2E91BE;
    letter-spacing: 2.5pt;
    text-shadow: 2px 2px 3px black;
    margin: 20px;
       
    
}
.nameBtn1{
    display: flex;
    margin: auto;
    
  
}
.ulBtn1 { 
    display: none; 
    list-style: none ;
    padding-inline-start: 0px;
    align-self: center;
    
}
.Btnmenu1:hover > .ulBtn1 {
    display: block; 
   align-items: flex-start;
    background: #31A9CE;
    border-radius: 20px;
    color: #FFCB05;
}
.Btnmenu1:hover > .ulBtn1 > .liBtn1{
    border-top: 4px solid #FFCB05;
    border-top-style: dotted;
    text-align: center;
    color: red;
    text-align: -webkit-match-parent;
}

.Btnmenu1:hover > .ulBtn1 > .liBtn1:hover > a {
     color:  red; 
}
.Btnmenu2{
    display: flex;
    align-content: center;
    flex-flow: wrap;
    flex-direction: column;
    background: #31A9CE;
    border: 3px solid #F5ED02;
    box-sizing: border-box;
    border-radius: 20px;
    width: 13%;
    height: auto;
    font-family: Pokemon Solid;
    text-align-last: center;
    align-items: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 35px;
    -webkit-text-fill-color: #FFCB05;
    -webkit-text-stroke: 1px#2E91BE;
    letter-spacing: 2.5pt;
    text-shadow: 2px 2px 3px black;
    margin: 20px;
}
.nameBtn2{
    display: flex;
    margin: auto;
}
.ulBtn2 { 
    display: none; 
    list-style: none ;
    padding-inline-start: 0px;
    align-self: center;
    
}
.Btnmenu2:hover > .ulBtn2 {
    display: block; 
   align-items: flex-start;
    background: #31A9CE;
    border-radius: 20px;
    color: #FFCB05;
}
.Btnmenu2:hover > .ulBtn2 > .liBtn2{
    border-top: 4px solid #FFCB05;
    border-top-style: dotted;
    text-align: center;
    color: red;
    text-align: -webkit-match-parent;
}

.Btnmenu2:hover > .ulBtn2 > .liBtn2:hover > a {
     color:  red; 
}
.Btnmenu3{
    display: flex;
    align-content: center;
    flex-flow: wrap;
    flex-direction: column;
    background: #31A9CE;
    border: 3px solid #F5ED02;
    box-sizing: border-box;
    border-radius: 20px;
    width: 13%;
    height: auto;
    font-family: Pokemon Solid;
    text-align-last: center;
    align-items: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 35px;
    -webkit-text-fill-color: #FFCB05;
    -webkit-text-stroke: 1px#2E91BE;
    letter-spacing: 2.5pt;
    text-shadow: 2px 2px 3px black;
    margin: 20px;
}
.nameBtn3{
    display: flex;
    margin: auto;
}
.ulBtn3 { 
    display: none; 
    list-style: none ;
    padding-inline-start: 0px;
    align-self: center;
    
}
.Btnmenu3:hover > .ulBtn3 {
    display: block; 
   align-items: flex-start;
    background: #31A9CE;
    border-radius: 20px;
    color: #FFCB05;
}
.Btnmenu3:hover > .ulBtn3 > .liBtn3{
    border-top: 4px solid #FFCB05;
    border-top-style: dotted;
    text-align: center;
    color: red;
    text-align: -webkit-match-parent;
}

.Btnmenu3:hover > .ulBtn3 > .liBtn3:hover > a {
     color:  red; 
}

.pokebola{
    width: 5%;
    margin-left: 80%;
    display: flex;
}